<section>
    <div class="container">
        <label for="text"><h2>Permanece <br> Atento</h2></label>
        <div class="input-container">
            <input class="input-field" type="text" placeholder="Introduce tu email">
            <button class="my-btn my-btn-active right-button">Suscribete</button>
        </div>
        
    </div>

    <div class="footer">
        <div class="privacy">
            <a class="disabled-link" (click)="goToPrivacyPolicy($event)">Política de privacidad</a>
            <a class="disabled-link" (click)="getUseTermsText($event)">Terminos de uso</a>
            <a class="disabled-link" (click)="showToFormContact($event)" >Contacto con desarrollador</a>
        </div>
        <div class="rrss">
            <i (click)="goToSocialNetwork($event, twitter)" class="fa fa-twitter" aria-hidden="true"></i>
            <i (click)="goToSocialNetwork($event, instagram)" class="fa fa-instagram" aria-hidden="true"></i>
            <i (click)="goToSocialNetwork($event, youtube)" class="fa fa-youtube" aria-hidden="true"></i>
        </div>
        <div class="end">
            <a class="disabled-link" (click)="goToGooglePlay($event)">{{ currentYear }} Daily Electric Cost</a>
        </div>
        @if (showUseTermsFile) {
            <div class="use-terms">
                <button (click)="closeUseTerms($event)" class="my-btn my-btn-secondary">X</button>
                <h3>Términos y Condiciones de Uso</h3>
                <pre>{{ useTermFile }}</pre>
            </div>
        }
    </div>
</section>
