<section>
    <div class="container">
        <label for="text"><h2>Permanece <br> Atento</h2></label>
        <div class="input-container">
            <input class="input-field" type="text" placeholder="Introduce tu email">
            <button class="my-btn my-btn-active right-button">Suscribete</button>
        </div>
        
    </div>

    <div class="footer">
        <div class="privacy">
            <a href="">Política de privacidad</a>
            <a href="">Terminos de uso</a>
            <a href="">Contacto</a>
        </div>
        <div class="rrss">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <div class="end">
            <p>{{ currentYear }} Daily Electric Cost</p>
        </div>
    </div>
</section>