<section>
    <div class="container">
        <label for="text"><h2>Permanece <br> Atento</h2></label>
        <form class="input-container" #form="ngForm" novalidate>
            <input class="input-field" type="email" placeholder="Introduce tu email" name="email" [(ngModel)]="emailValue" required email #email="ngModel">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div *ngIf="emailValue.length > 0 && form.controls['email'].errors?.['required']">
                    <p>El email es requerido.</p>
                </div>
                <div *ngIf="emailValue.length > 0 && form.controls['email'].errors?.['email']">
                    <p>El email debe tener un formato válido.</p>
                </div>
            </div>
            <button (click)="subscribeEmail()" class="my-btn my-btn-active right-button" [ngClass]="{'my-btn-active': form.valid, 'my-btn-deactivated': form.invalid}" [disabled]="email.invalid">Suscribirse</button>
        </form>
    </div>

    <div class="footer">
        <div class="privacy">
            <a class="disabled-link" (click)="goToPrivacyPolicy($event)">Política de privacidad</a>
            <a class="disabled-link" (click)="showToUseTerms($event)">Terminos de uso</a>
            <a class="disabled-link" (click)="showToFormContact($event)" >Contacto con desarrollador</a>
        </div>
        <div class="rrss">
            <i (click)="goToSocialNetwork($event, twitter)" class="fa fa-twitter" aria-hidden="true"></i>
            <i (click)="goToSocialNetwork($event, instagram)" class="fa fa-instagram" aria-hidden="true"></i>
            <i (click)="goToSocialNetwork($event, youtube)" class="fa fa-youtube" aria-hidden="true"></i>
        </div>
        <div class="end">
            <a class="disabled-link" (click)="goToGooglePlay($event)">{{ currentYear }} Daily Electric Cost</a>
        </div>
    </div>
</section>
