<div class="content-form">
    <form (ngSubmit)="onSubmit()" #form="ngForm" novalidate>
        <h6>Por favor, rellene el cuestionario para contactar con el desarrollador</h6>
        <div >
            <div class="mb-3">
                <label for="email" class="form-label">Introduce tu email</label>
                <input type="email" class="form-control" placeholder="Dirección de correo" name="email" id="email" [(ngModel)]="formData.email" required email>
                <div *ngIf="form.controls['email'].errors?.['required'] && (form.controls['email'].dirty || form.controls['email'].touched)" class="text-danger">
                    El email es requerido.
                </div>
                <div *ngIf="form.controls['email'].errors?.['email'] && (form.controls['email'].dirty || form.controls['email'].touched)" class="text-danger">
                    El email debe tener un formato válido.
                </div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Introduce tu nombre (mínimo 4 caracteres)</label>
                <input type="text" class="form-control" placeholder="Nombre y apellidos" name="name" id="name" [(ngModel)]="formData.name" required minlength="4" [maxlength]="50">
                <div *ngIf="form.controls['name'].errors?.['required'] && (form.controls['name'].dirty || form.controls['name'].touched)" class="text-danger">
                    El nombre es requerido.
                </div>
                <div *ngIf="form.controls['name'].errors?.['minlength'] && (form.controls['name'].dirty || form.controls['name'].touched)" class="text-danger">
                    El nombre debe tener al menos 4 caracteres.
                </div>
                <div class="text-muted">
                    Caracteres restantes: {{ 50 - formData.name.length }}
                </div>
            </div>
            <div class="mb-3">
                <label for="context" class="form-label">Motivo de contacto (mínimo 50 caracteres)</label>
                <textarea class="form-control" placeholder="Motivo del contacto..." name="context" id="context" [(ngModel)]="formData.content" [maxlength]="500" required minlength="50"></textarea>
                <div *ngIf="form.controls['context'].errors?.['required'] && (form.controls['context'].dirty || form.controls['context'].touched)" class="text-danger">
                    El motivo de contacto es requerido.
                </div>
                <div *ngIf="form.controls['context'].errors?.['minlength'] && (form.controls['context'].dirty || form.controls['context'].touched)" class="text-danger">
                    El motivo de contacto debe tener al menos 50 caracteres.
                </div>
                <div class="text-muted">
                    Caracteres restantes: {{ 500 - formData.content.length }}
                </div>
            </div>
            <button type="submit" class="my-btn" [ngClass]="{'my-btn-active': form.valid, 'my-btn-disabled': form.invalid}" [disabled]="form.invalid">Enviar</button>
            <button type="button" class="my-btn my-btn-secondary" (click)="closeContactForm()">Cancelar</button>
        </div>
    </form>
</div>
