<section>
    <div class="container">
        <div class="image">
            <img src=".\assets\img\captures\20240304_213023_2.jpg" alt="">
        </div>
        <div class="text">
            <h2>Monitoriza el coste de tu energía</h2>
            <br>
            <br>
            <p class="subtext">El coste diario de tu energía de un solo vistazo.</p>
            <p class="subtext">Establece alertas para cada hora.</p>
            <div>
                <button class="my-btn my-btn-active"><a  href="#features">Seguir leyendo</a></button>
                <button class="my-btn my-btn-secondary"><a href="https://play.google.com/store/apps/details?id=com.softyorch.dailyelectriccost&pcampaignid=web_share" target="_blank">Descargar ahora</a></button>
            </div>
        </div>
    </div>
</section>