<section>
    <div class="container">
        <div class="image">
            <img src=".\assets\img\captures\20240304_213023_2.jpg" alt="">
        </div>
        <div class="text">
            <h2>Monitoriza el coste de tu energía</h2>
            <br>
            <br>
            <br>
            <p>El coste diario de tu energía de un solo vistazo.</p>
            <p>Establece alertas para cada hora.</p>
            <div>
                <button class="my-btn my-btn-active">Seguir leyendo</button>
                <button class="my-btn my-btn-secondary">Descargar ahora</button>
            </div>
        </div>
    </div>
</section>