.container {
    display: flex;
}

.image {
    flex: 1;
    float: left;
}

.text {
    flex: 1;
    float: right;
    margin: 24px;
    color: white;
}

img {
    display: block;
    overflow: hidden;
    object-fit: contain;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 #369EFF;
    margin: 24px 0 24px 0 auto;
    max-width: 100%;
}