.container {
    display: flex;
    flex-direction: row;
}

.image {
    flex: 1;
    float: left;
    margin-left: 5%;
    margin-top: 16px;
}

.text {
    flex: 1;
    float: right;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 2%;
    color: white;
}

.subtext {
    color: darkgray;
}

img {
    display: block;
    overflow: hidden;
    object-fit: contain;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 #369EFF;
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
    
    .image {
        margin-right: 5%;
    }

    .text {
        margin: 6%;
    }
}