<nav class="navbar navbar-dark bg-black" style="border-radius:2rem">
    <div class="container-fluid">
      <a class="navbar-brand">DailyElectricCost</a>
      <form class="d-flex">
        <button class="my-btn my-btn-active" type="submit">Descarga desde Google Play</button>
        <button class="my-btn my-btn-secondary" type="submit">Contacto con Desarrollador</button>
        <button class="my-btn my-btn-icon" type="submit"><i class="fa fa-twitter" aria-hidden="true"></i></button>
        <button class="my-btn my-btn-icon" type="submit"><i class="fa fa-instagram" aria-hidden="true"></i></button>
        <button class="my-btn my-btn-icon" type="submit"><i class="fa fa-youtube" aria-hidden="true"></i></button>
      </form>
    </div>
  </nav>