/* Body */
body {
    display: flex; 
    justify-content: center;
    background-color: rgb(28, 44, 66);
}

.my-body {
    width: 1300px;
    margin: 16px;
    border-radius: 2rem;
    background-color: black;
    box-shadow: 0px 0px 8px 2px #94cbff;
}

.my-container {
    padding-left: 80px;
    padding-right: 80px;
}

@media screen and (max-width: 1300px) {
    .my-body {
        width: 1200px;
    }

    .my-container {
        padding-left: 72px;
        padding-right: 72px;
    }
}

@media screen and (max-width: 1200px) {
    .my-body {
        width: 1100px;
    }

    .my-container {
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media screen and (max-width: 1100px) {
    .my-body {
        width: 1000px;
    }

    .my-container {
        padding-left: 56px;
        padding-right: 56px;
    }
}

@media screen and (max-width: 1000px) {
    .my-body {
        width: 900px;
    }

    .my-container {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width: 900px) {
    .my-body {
        width: 800px;
    }

    .my-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 800px) {
    .my-body {
        width: 700px;
    }

    .my-container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (max-width: 700px) {
    .my-body {
        width: 600px;
    }

    .my-container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 600px) {
    .my-body {
        width: 500px;
    }

    .my-container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 500px) {
    .my-body {
        width: 400px;
    }

    .my-container {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media screen and (max-width: 400px) {
    .my-body {
        width: 300px;
    }

    .my-container {
        padding-left: 4px;
        padding-right: 4px;
    }
}

@media screen and (max-width: 300px) {
    .my-body {
        width: 250px;
    }
    
    .my-container {
        padding-left: 2px;
        padding-right: 2px;
    }
}