
.use-terms {
    position: relative;
    z-index: 10;
    background-color: black;
    margin: 4%;
    padding: 4%;
    max-width: 1300px;
    border-radius: 2rem;
    box-shadow: 0 0 10px 1px #369EFF;
}

.use-terms pre {
    color: whitesmoke;
    white-space: pre-wrap;
}

.use-terms h3 {
    color: whitesmoke;
}

.my-btn-secondary {
    padding-left: 16px;
    padding-right: 16px;
    margin: 16px;
}
