<section>
    <ul class="container">
        @for (data of cardData; track $index) {            
            <div class="card">
                <img (click)="changeState($index)" src="{{ data.image }}" class="card-img-top" alt="" />
                <div class="card-body">
                    <h6 class="card-title">{{ data.title }}</h6>
                </div>
            </div>
            @if (data.active) {
                <div class="my-modal">
                    <div class="modal-btn">
                        <button (click)="closeModal()" class="my-btn my-btn-secondary">X</button>
                    </div>
                    <img src="{{ data.image_lager }}" alt="">
                </div>
            }
        }
    </ul>
    <div class="container">
        <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/zAzbj_OGmZU?si=wPJ9DA8dd36mfUqd" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
    </div>
</section>