:root {
    --shadow-color: #369EFF;
    --shadow-2-color: #94cbff;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    background-color: black;
}

.card {
    background-color: black;
    border-radius: 2rem;
    margin-left: 24px;
    margin-top: 24px;
    margin-right: 24px;
}

.card-title {
    color: darkgray;
}

.card img {
    border-radius: 1rem;
    box-shadow: 0 0 10px 1px #369EFF;
}

.card img:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 5px #94cbff;
}

iframe {
    width: 1120px;
    height: 630px;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 #369EFF;
}

iframe:hover {
    box-shadow: 0 0 10px 5px #94cbff;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

@media screen and (max-width: 1300px) {
    iframe {
        width: 1008px;
        height: 567px;
    }
}

@media screen and (max-width: 1200px) {
    iframe {
        width: 907px;
        height: 510px;
    }
}

@media screen and (max-width: 1100px) {
    iframe {
        width: 816px;
        height: 459px;
    }
}

@media screen and (max-width: 1000px) {
    iframe {
        width: 734px;
        height: 413px;
    }
}

@media screen and (max-width: 900px) {
    iframe {
        width: 661px;
        height: 372px;
    }
}

@media screen and (max-width: 800px) {
    iframe {
        width: 595px;
        height: 334px;
    }
}

@media screen and (max-width: 700px) {
    iframe {
        width: 535px;
        height: 301px;
    }
}

@media screen and (max-width: 600px) {
    iframe {
        width: 482px;
        height: 271px;
    }
}

@media screen and (max-width: 500px) {
    iframe {
        width: 433px;
        height: 244px;
    }
}

@media screen and (max-width: 400px) {
    iframe {
        width: 390px;
        height: 219px;
    }
}

@media screen and (max-width: 300px) {
    iframe {
        width: 351px;
        height: 197px;
    }
}