<section id="features">
    <div class="container">        
        @for (itemCard of cardData; track $index) {
            <div (click)="changeState($index)" class="card">
                <i class="{{ itemCard.faIcon }}" aria-hidden="true"></i>
                <div class="card-body">
                    <h4 class="card-title">{{ itemCard.title }}</h4>
                    <h6 class="card-text">
                        @if (currentBreakpoint != limitLarge && itemCard.active) {
                        {{ itemCard.textLarge }}
                        } @else {
                        {{ itemCard.text }}
                        }
                    </h6>
                </div>
            </div>
  
            @if (currentBreakpoint === limitLarge && itemCard.active) {
                <div class="my-modal">
                    <div class="modal-btn">
                        <button (click)="closeModal()" class="my-btn my-btn-secondary">X</button>
                    </div>
                    <div class="card">
                        <i class="{{ itemCard.faIcon }}" aria-hidden="true"></i>
                        <div (click)="closeModal()" class="card-body">
                            <h4 class="card-title">{{ itemCard.title }}</h4>
                            <h6 class="card-text">{{ itemCard.textLarge }}</h6>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>