
/* Variables */
:root {
    --btn-active-bg-color: #369EFF;
    --btn-active-text-color: #FFFFFF;
    --btn-active-hover-text-color: #26303B;
    --btn-active-hover-shadow-bg-color: #94cbff;

    --btn-secondary-bg-color: #26303B;
    --btn-secondary-text-color: #FFFFFF;
    --btn-secondary-hover-text-color: #369EFF;
    --btn-secondary-shadow-bg-color: #94cbff;

    --btn-icon-bg-color: #26303B;
    --btn-icon-text-color: #FFFFFF;
    --btn-icon-hover-text-color: #369EFF;
    --btn-icon-shadow-bg-color: #94cbff;
}

@font-face {
    font-family: 'plusJakartaSans';
    src: url('./assets/fonts/PlusJakartaSans.ttf');
}

p {
    font-family: 'plusJakartaSans';
}

/* Body */
body {
    display: flex; 
    justify-content: center;
    background-color: rgb(28, 44, 66);
}

.my-body {
    width: 150ch;
    margin: 16px;
    border-radius: 2rem;
    background-color: black;
    box-shadow: 0px 0px 8px 2px #94cbff;
}


/* Common Objects */

.my-btn{
    border-radius: 2rem;
    border-style: none;
    margin: 4px;
    padding: 8px;
    transition: ease-in-out .2s;
}

.my-btn-active {
    background-color: var(--btn-active-bg-color);
    color: var(--btn-active-text-color);
}

.my-btn-active:hover {
    color: var(--btn-active-hover-text-color);
    box-shadow: 2px 4px 8px var(--btn-active-hover-shadow-bg-color);
    transform: scale(1.01);
}

.my-btn-secondary {
    background-color: var(--btn-secondary-bg-color);
    color: var(--btn-secondary-text-color);
}

.my-btn.my-btn-secondary:hover {
    color: var(--btn-secondary-hover-text-color);
    box-shadow: 2px 4px 8px var(--btn-secondary-shadow-bg-color);
    transform: scale(1.01);
}

.my-btn-icon {
    width:40px;
    height:40px;
    border-radius: 0;
    border-radius: 50%;
    background-color: var(--btn-icon-bg-color);
    color: var(--btn-icon-text-color);
}

.my-btn-icon:hover {
    color: var(--btn-icon-hover-text-color);
    box-shadow: 2px 4px 8px var(--btn-icon-shadow-bg-color);
    transform: scale(1.01);
}
